img {
    height: 300px;
    object-fit: cover;
}

.col-4 {
    padding: 10px;
}

.card {
    border: 3px solid blue;
}

body {
    background-color: lightblue;
}

.card-body {
    overflow: hidden;
    height: 250px;
    .card-title {
        height: 20%;
    }
    .card-text {
        height: 60%;
    }
    a {
        height: 20%;
    }
    .box {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 100px;
}