.container{
      width:80%;
      background-color: antiquewhite;
}
.movie-types{
      ul{
            list-style: none;
      }
}
.list{
      width:100%;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      // .card{
      //       min-width: 200px;
      //       margin:5px;
      //       justify-content: ;
      //       align-items: center;
      // }
}
.alert{
      display:none;
      // font-size: xx-large;
      
}

img {
      height: 400px;
      object-fit: cover;
  }
  
  .col-4 {
      padding: 10px;
  }
  
  .card {
      border: 2px solid coral;
  }
  
  body {
      background-color: antiquewhite;
  }
  
  .card-body {
      overflow: hidden;
      height: 250px;
      .card-title {
          height: 20%;
      }
      .movie-short-info {
          height: 60%;
          font-size:small;
      }
      a {
          height: 20%;
      }
      .box {
          display: flex;
          align-items: center;
          justify-content: center;
      }
  }
  
  nav {
      display: none;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
      margin-bottom: 30px;
      ul{
            margin:0 10px;
      }
      #pages-amount-input{
            width:80px;
            align-items: center;
      }
  }

  #movie-type-found{
      text-transform: capitalize;
  }

  .movie-info{      
      border: 2px solid coral;
      border-radius: 10px;
      margin-top: 60px;;
      margin-bottom: 100px;;
      // display:none;
      
      .movie-info-head{
            font-size: xx-large;
            justify-content: center;
      }
      .movie-info-body{
            display:flex;
            img#movie-info-image{             
                  border:1px solid rgba(0,0,0,0.1);
                  border-radius: 5px;
                  width:100%;
                  height: auto;
                  // max-height:300px;
                  object-fit: cover;             
            }
            table{
                  font-size:large;
                  
            }
      }
  }