<web-app>
    <servlet>
        <servlet-name>MaxNumberServlet</servlet-name>
        <servlet-class>com.example.MaxNumberServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MaxNumberServlet</servlet-name>
        <url-pattern>/maxNumber</url-pattern>
    </servlet-mapping>
</web-app>
