$error-color:#8F3000;
.main-table{
  th,td{padding:5px 7px;}
  th{
    background-color: antiquewhite;
  }
  td{
    border-collapse: collapse;
    border:1px solid #ccc;
  }
}
.error{
  font-size: 20px;
  color: $error-color;
  margin: 20px;
  padding: 10px 13px;
  border: 1px solid $error-color;
}
.qqq{color:darkblue}