h1 a{
    text-decoration: none;
    cursor: pointer;
}

.error{
    font-size: 24px;
    color: red;
}

nav{display: flex;}
nav.pagination{
    border:1px solid grey;
    border-radius: 3px;
    border-collapse: collapse;
}
nav .page-item{
    justify-content: center;
    border:1px solid grey;
    padding:3px 10px;
    margin:0 ;
    border-collapse: collapse;
}
nav .page-item a{
    text-decoration: none;
}
.top{
    display:flex;
}
.top .found-box{
    justify-content: start;
}
.right-btn{
    display: flex;
    justify-content: end;
}
.right-btn button{
    margin:0 0 0 20px;
}

.btn-edit, .btn-del{
    text-decoration: none;
    font-size: x-large;
    cursor: pointer;
}

.message{
    font-size: x-large;
}