$pad: 20px;
body{
      background-color: antiquewhite;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      padding: 0;
      margin: 0;
}
.header{
      width: calc(100% - 2*$pad);
      height:50px;
      padding: $pad;
      background-color: rgb(60, 100, 200);
      color:white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      #boxes, #hours, #mins, #secs{
            font-weight: bold;
      }
}

.gameName{
      font-size: x-large;
}

.box{      
      position:absolute;
      border:3px solid #333;
      display:flex;
      justify-content: center;
      align-items: center;
      font-size:x-large;
      font-weight: bold;
      // transition: top, left, 2s;
      cursor: pointer;
      user-select: none;
}