.grey {
  background-color: #f0f0f0;
}

.green {
  background-color: #6fd084;
}

.blue {
  background-color: #37b0c1;
}

.red {
  background-color: #f98691;
}

body {
  color: rgb(82, 84, 102);
}

a {
  color: var(--bs-blue);
}

.navbar {
  background-color: rgb(27, 85, 157);
  padding: 0 5%;
}
.navbar .navbar-brand {
  margin: 0;
}
.navbar .avatar {
  padding: 10px;
}
.navbar .avatar img {
  width: 40px;
}
.navbar .navbar-toggler {
  border-color: white;
}
.navbar .navbar-toggler:focus {
  box-shadow: 0 0 0 2px rgb(255, 255, 255);
}
.navbar .navbar-toggler-icon {
  opacity: 1;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

.main-container {
  padding: 0 5%;
}
.main-container h1, .main-container h2, .main-container h3, .main-container h4, .main-container h5, .main-container h6 {
  font-weight: 100;
}

.name-title {
  margin: 25px auto;
}
.name-title hr {
  border-bottom: 2px solid #e0e0e0;
}

.news-area button {
  color: white;
  background-color: rgb(108, 117, 125);
  width: 100%;
  border: 1px solid rgb(108, 117, 125);
  border-radius: 7px;
  padding: 5px 0;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
}

.news-block {
  border: 2px solid #e0e0e0;
  border-radius: 7px;
  padding: 0;
}
.news-block .news-item {
  display: flex;
  flex-wrap: nowrap;
}
.news-block .news-item .news-img {
  margin: 15px 0 0 15px;
  width: 90px;
  height: 90px;
}
.news-block .news-item .news-data {
  margin: 15px;
}
.news-block .news-item .news-data .news-top {
  display: flex;
  justify-content: space-between;
}
.news-block .news-item .news-data .news-top .news-title {
  font-size: 1.3rem;
  font-weight: 500;
}
.news-block .news-item:not(:last-child) {
  border-bottom: 2px solid #e0e0e0;
}

.rewards-area table.rewards {
  width: 100%;
}
.rewards-area table.rewards td {
  padding: 10px;
}
.rewards-area table.rewards td > span {
  padding-top: 3px;
  padding-bottom: 3px;
}
.rewards-area table.rewards td:nth-child(1) {
  text-align: right;
}
.rewards-area table.rewards td:nth-child(2) {
  text-align: center;
}
.rewards-area table.rewards td:nth-child(3) {
  text-align: left;
}
.rewards-area table.rewards .col-20prc {
  width: 16%;
}
.rewards-area table.rewards .col-40prc {
  width: 42%;
}
.rewards-area table.rewards .tbl-col-l {
  padding-left: 10px;
  border-top: 2px solid #e0e0e0;
  border-left: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}
.rewards-area table.rewards .tbl-col-l::after {
  position: relative;
  left: 15px;
  top: 8px;
  width: 15px;
  height: 30px;
  display: inline-block;
  background: 0 0 url("images/arr-to-right.png") no-repeat;
  content: " ";
}
.rewards-area table.rewards .tbl-col-c {
  font-size: 1.3rem;
  font-weight: bold;
}
.rewards-area table.rewards .tbl-col-c::after {
  position: relative;
  left: 0;
  top: 3px;
  width: 20px;
  height: 20px;
  display: inline-block;
  background: 0 0 url("images/reward.png") no-repeat;
  content: " ";
}
.rewards-area table.rewards .tbl-col-r {
  padding-right: 10px;
  border-top: 2px solid #e0e0e0;
  border-right: 2px solid #e0e0e0;
  border-bottom: 2px solid #e0e0e0;
}
.rewards-area table.rewards .tbl-col-r::before {
  position: relative;
  left: -15px;
  top: 8px;
  width: 15px;
  height: 30px;
  display: inline-block;
  background: 0 0 url("images/arr-to-right.png") no-repeat;
  transform: rotate(180deg);
  content: " ";
}
.rewards-area button {
  color: rgb(82, 84, 102);
  background-color: rgb(248, 249, 250);
  width: 100%;
  border: 1px solid rgb(248, 249, 250);
  border-radius: 7px;
  padding: 5px 0;
  text-align: center;
  margin: 20px 0;
  font-weight: 500;
}

.legend {
  display: block;
  position: absolute;
  width: 200px;
  right: 5%;
  text-align: right;
}
.legend ul {
  list-style: none;
}
.legend .circle {
  display: inline-block;
  position: relative;
  top: 4px;
  width: 20px;
  height: 20px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
}/*# sourceMappingURL=style.css.map */