$side-fields: 5%;
$main-text-color: rgb(82,84,102);
$top-menu-bg: rgb(27,85,157);
$blue-panel-bg: rgb(204,229,255);
$grey-button-bg: rgb(108,117,125);
$light-grey-button-bg: rgb(248,249,250);
$borders: 2px solid #e0e0e0;
$arrow-borders: 2px solid #e0e0e0;
$main-radius: 7px;
$top-news-mg: 15px;

@mixin wide-button($text-color,$bg-color){
      color: $text-color;
      background-color: $bg-color;
      width:100%;
      border: 1px solid $bg-color;
      border-radius: $main-radius;
      padding: 5px 0;
      text-align: center;
      margin: 20px 0;
      font-weight: 500;
}

.grey {background-color: #f0f0f0;}
.green {background-color: #6fd084;}
.blue {background-color: #37b0c1;}
.red {background-color: #f98691;}

body {
      // font: 1rem var(--bs-font-sans-serif); 
      color: $main-text-color;
    }
    a {
      color: var(--bs-blue);
    }

.navbar {
      background-color: $top-menu-bg;
      padding: 0 $side-fields;
      .navbar-brand{
            margin:0;
      }
      .avatar{
            padding: 10px;
            img{
                  width:40px;
            }
      }
      .navbar-toggler{
            border-color:white;
      }
      .navbar-toggler:focus{
            box-shadow: 0 0 0 2px rgba(255,255,255,1.0);
      }
      .navbar-toggler-icon {
            opacity: 1;
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E"); 
      }
}

.main-container{
      padding: 0 5%;
      h1, h2, h3, h4, h5, h6{
            font-weight:100;
      }
}
.main-area{
      margin-top: 15px;
}
.name-title{
      margin:25px auto 0; 
      // padding: 10px;
      hr{
            border-bottom: $borders;
      }
}
.news-area{     
      button{
            @include wide-button(white,$grey-button-bg);
      }
}
.news-block{
      border: $borders;
      border-radius: $main-radius;
      padding: 0;
      .news-item{
            display:flex;
            flex-wrap: nowrap;
            .news-img {
                  margin: $top-news-mg 0 0 $top-news-mg;
                  width:90px;
                  height:90px;
            }
            .news-data{
                  margin: $top-news-mg;
                  .news-top{
                        display:flex;
                        justify-content: space-between;
                        .news-title{
                              font-size: 1.3rem;
                              font-weight: 500;
                        }
                        .news-date{
                              // margin-right:10px;
                        }
                  }
            }
      }
      .news-item:not(:last-child){
            border-bottom: $borders;            
      }
}

.rewards-area{
      table.rewards{
            width:100%;
            td {padding: 10px;}
            td>span{
                  padding-top:3px;
                  padding-bottom:3px;
                  
            }
            td:nth-child(1){
                  text-align: right;
            }
            td:nth-child(2){
                  text-align: center;
            }
            td:nth-child(3){
                  text-align: left;
            }
            .col-20prc{
                  width:16%;
            }
            .col-40prc{
                  width:42%;
            }
            .tbl-col-l{
                  padding-left:10px;
                  border-top: $arrow-borders;
                  border-left: $arrow-borders;
                  border-bottom: $arrow-borders;                  
            }
            .tbl-col-l::after{
                  position: relative;
                  left: 15px;
                  top: 8px;
                  width:15px;
                  height:30px;
                  display:inline-block;
                  background: 0 0 url("images/arr-to-right.png") no-repeat;
                  content: " ";
            }
            .tbl-col-c{
                  font-size: 1.3rem;
                  font-weight: bold;
            }
            .tbl-col-c::after{
                  position: relative;
                  left: 0;
                  top: 3px;
                  width: 20px;
                  height: 20px;
                  display:inline-block;
                  background: 0 0 url("images/reward.png") no-repeat;
                  content: " ";
            }
            .tbl-col-r{
                  padding-right:10px;                 
                  border-top: $arrow-borders;
                  border-right: $arrow-borders;
                  border-bottom: $arrow-borders; 
            }
            .tbl-col-r::before{
                  position: relative;
                  left: -15px;
                  top: 8px;
                  width:15px;
                  height:30px;
                  display:inline-block;
                  background: 0 0 url("images/arr-to-right.png") no-repeat;
                  transform: rotate(180deg);
                  content: " ";
            }
      }
      button{
            @include wide-button($main-text-color,$light-grey-button-bg);
      }
}

.legend {
      // border:1px solid red;
      display: block;
      position:absolute;
      width:200px;
      right:$side-fields;     
      text-align: right;
      // align-items: flex-start;
      ul {
            list-style: none;
      }
      .circle{
            display:inline-block;
            position:relative;
            top:4px;
            width:20px;
            height:20px;
            border: 1px solid #e0e0e0;
            border-radius: 10px;
      }
      
}
.cards{
      display:flex;
      justify-content: center;
      flex-wrap: wrap;
      
}
.card{
      display:block;
      width:300px;
      height:120px;
      margin:10px;
      padding:10px 15px;
      font-size: 0.9rem;
      a{
            display: inline-block;
            color:rgba(255,255,255,0.75);
            text-decoration: none;
            margin-bottom: 3px;
      }
      a:hover{
            color:rgba(255,255,255,1.0);
      }
      .card-title{
            font-size: 1.1rem;
            font-weight: 500;
            margin:0;
      }
      .card-date{
            font-size:0.8em;
            margin-bottom:12px;
      }
      .card-actions{
            width:100%;
            border: 1px solid white;
            border-radius: .25rem;
            display: flex;
            justify-content: space-around;
            
      }
      .action-download{
            width:50%;
            border-right:1px solid white;
            padding: 3px;
            text-align: center;
      }
      .action-download::before{
            content: " ";
            position:relative;
            display:inline-block;
            top:3px;
            left:-5px;
            width:20px;
            height:20px;
            // background: red;
            background: url("images/download.png") no-repeat;
            background-size: 20px 20px;
      }
      .action-remove{
            width:50%;
            padding: 3px;
            text-align: center;
      }
      .action-remove::before{
            content: " ";
            position:relative;
            display:inline-block;
            top:3px;
            left:-5px;
            width:20px;
            height:20px;
            // background: red;
            background: url("images/delete.png") no-repeat;
            background-size: 20px 20px;
      }
      .action-resend{
            width:50%;
            padding: 3px;
            text-align: center;
      }
      .action-resend::before{
            content: " ";
            position:relative;
            display:inline-block;
            top:3px;
            left:-5px;
            width:20px;
            height:20px;
            // background: red;
            background: url("images/update.png") no-repeat;
            background-size: 20px 20px;
      }
}
.badge{
      right: 15px;
      position:absolute;
}

